body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: right;
}

form {
    width: 50%;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border:2px,black;
    cursor: pointer;
}
